.video {
  margin: 0px;
}

.bg1 {
  height: 600px;
}

.sf_menu a.selected {
  color: #7DB1B7;
}

section h1 {
  padding-top: 20px;
  padding-bottom: 20px;
} 

.h3_padding_bottom {
  padding-bottom: 20px;
}

.blog_post_in_list_footer {
  height:auto !important;
}



