<span class="italic color">Z-Ware Ltd is a one person SW development company providing SW development and consulting services. </span><br><br>
Check our projects and solutions to get an idea what we can do, or get in touch from the contact page.<br>
