    <div id="page_container">
      <header id="header">
        <%= render '/refinery/header' -%>
      </header>
      <section id="page">
        <%= render '/refinery/content_page' %>
      </section>
      <footer>
        <%= render '/refinery/footer' -%>
      </footer>
    </div>
